@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #1c96c5;
}
.square
{
	position: relative;
	width: 600px;
	height: 610px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.square i
{
	position: absolute;
	inset: 0;
	border: 2px solid #fff;
	transition: 0.5s;
    border-radius: 2rem;
}

.square:hover i
{
	border: 6px solid var(--clr);
	filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
@keyframes animate2
{
	0%
	{
		transform: rotate(360deg);
	}
	100%
	{
		transform: rotate(0deg);
	}
}
.login 
{
	position: absolute;
	width: 300px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}
.login h2 
{
	font-size: 2em;
	color: #fff;
}
.login .inputBx 
{
	position: relative;
	width: 100%;
    margin-top: 1.2rem;
}
.login .inputBx input 
{
	position: relative;
	width: 100%;
	padding: 8px 20px;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 40px;
	font-size: 1.2em;
	color: #fff;
	box-shadow: none;
	outline: none;
}
.login .inputBx input[type="submit"]
{
	width: 100%;
	background: #0078ff;
	background: linear-gradient(45deg,#ff357a,#fff172);
	border: none;
	cursor: pointer;
}
.login .inputBx input::placeholder 
{
	color: rgba(255,255,255,0.75);
}
.login .links
{
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}
.login .links a 
{
	color: #fff;
	text-decoration: none;
}

/* Add your CSS styling here */
select,
input[type="file"],
#locationButton {
    /* width: 100%; */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;

}

select:hover,
input[type="file"]:hover,
#locationButton:hover {
    border-color: #007bff;
}

select:focus,
input[type="file"]:focus,
#locationButton:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* Style for the select box */
select {
	padding: 8px 12px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  /* Optional: Style for the label */
  label {
	font-weight: bold;
	margin-right: 10px;
  }
  
#locationButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#locationButton:hover {
    background-color: #0056b3;
}


/* Basic Styles */
* {
    box-sizing: border-box;
}

body {
    background: #052532;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
}

button {
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

input {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
}

input:focus {
    outline: 2px solid white;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

/* Button on top of the Input */
.wrapper {
    width: 400px;
    max-width: 100%;
    position: relative;
}

.wrapper input {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 50px;
    padding: 1rem 2rem;
    /* width: 100%; */
}

.wrapper button {
    background: white;
    border-radius: 50px;
    aspect-ratio: 1;
    height: 80%;
    
    position: absolute;
    top: 10%;
    right: 5px;
}

@media (max-width: 991px) {
	.login .inputBx 
{
	width: 80vw;
	margin: auto;
}
.login .inputBx input 
{
	padding: 8px 20px;
	border-radius: 8px;
	margin-bottom: 20px;
}
.login .sub-btn{
	width: 50%;
}
/* select,
input[type="file"],
#locationButton {
    margin-right: 60px;
width: 40px;
height: 40px;
margin-bottom: 40px;
} */

}