<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharity - Web</title>
    <link rel="shortcut icon" href="assets/orange-favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- linking remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>

    <!-- nav bar starts -->
    <header>
        <div class="navbar-area">
            <div class="nav-container">
                <nav class="site-navbar nav-contents">
                    <div class="logo-section">
                        <a href="#" class="site-logo"><img src="/static/images/sharity-logo.jpg" alt="sharity logo"></a>
                        <a href="#">
                            <h3>Sharity</h3>
                        </a>
                    </div>

                    <div class="nav-icons">
                        <section class="navicons-col">
                            <a href="/donate"><img src="/static/images/donate.svg" alt="donate"><p>Spread Love</p></a>
                            
                        </section>
                        <div class="side-border"></div>
                        <section class="navicons-col">
                            <a href="https://github.com/harshavardhan-md/Sharity/blob/main/README.md"><img src="/static/images/cosmic-logo.svg" alt="donate"><p>About Us</p></a>
                            
                        </section>
                        <div class="side-border"></div>
                        <section class="navicons-col">
                            <a href="#contact-us"><img src="/static/images/help.svg" alt="help"><p>Contact Us</p></a>
                            
                        </section>

                    </div>


                </nav>
            </div>
        </div>
    </header>

    <!-- nav for mobile -->

    <div class="nav-icons2">
        <section class="navicons-col2">
            <a href="/donate"><img src="/static/images/donate.svg" alt="donate"></a>
            <p>Spread Love</p>
        </section>
        <div class="side-border2"></div>
        <section class="navicons-col2">
            <a href="#"><img src="/static/images/home.svg" alt="donate"></a>
            <p>Home</p>
        </section>
        <div class="side-border2"></div>

        <section class="navicons-col2">
            <a href="#contact-us"><img src="/static/images/home.svg" alt="help"></a>
            <p>Contact Us</p>
        </section>

    </div>
    <!-- nav bar ends -->

    <!-- hero section starts -->
    <div class="back-video">
        <video loop autoplay muted preload="auto" playsinline id="bg-video">
            <source src="/static/videos/sharity-hero-video.mp4" type="video/mp4">
        </video>

        <div class="text-on-video">
            <div class="text-flex">
                <img src="/static/images/heart.svg" alt="main logo">
                <h1>SHARING HOPE</h1>
            </div>
            <p>Fighting Hunger, One Plate at a Time.</p>
            <a href="/donate" class="button button1">Get Started <i class="ri-arrow-right-s-line"></i></a>
        </div>
    </div>
    <!-- hero section ends -->


    <!-- service section starts  -->
    <div class="service-h2">
        <h2>Our Impactful Journey
            <!-- <img src="assets/svg/map.svg" alt=""> -->
        </h2>
    </div>
    <main>
        <div class="wrap">
            <div class="content content--sticky content--card bg-1">
                <img class="content_img content_img--small"
                    src="https://cdn3d.iconscout.com/3d/premium/thumb/festival-food-cart-icon-5274889-4411661.png?f=webp" />
                <h2 class="content__title"><i>Event</i> Surplus</h2>
                <p class="content__text text-meta">Share excess food, make a difference. Help us feed those in need.</p>
            </div>
            <div class="content content--sticky content--card bg-2">
                <img class="content_img content_img--small"
                    src="https://cdn3d.iconscout.com/3d/premium/thumb/food-donation-9725449-7887493.png?f=webp" />
                <h2 class="content__title"><i>Simple</i> Donation</h2>
                <p class="content__text text-meta">Effortlessly donate food, reduce waste. Be a part of the solution.
                </p>
            </div>
            <div class="content content--sticky content--card bg-3">
                <img class="content_img content_img--small" src="/static/images/newimg3.png" />
                <h2 class="content__title"><i>Convenient</i> Pickup</h2>
                <p class="content__text text-meta">Donate hassle-free, collect with ease. Bridging food to those hungry.
                </p>
            </div>
            <div class="content content--sticky content--card bg-4">
                <img class="content_img content_img--small"
                    src="https://cdn3d.iconscout.com/3d/premium/thumb/community-4933629-4112611.png?f=webp" />
                <h2 class="content__title"><i>Impactful</i> Giving</h2>
                <p class="content__text text-meta">Your donation matters, feed the hungry. Be the change you wish to
                    see.</p>
            </div>
            <div class="content content--sticky content--card bg-5">
                <img class="content_img content_img--small" src="/static/images/last-img.png" />
                <h2 class="content__title"><i>Essential</i> Contribution</h2>
                <p class="content__text text-meta">Support our cause, fight hunger. Together, we can make a difference.
                </p>
            </div>
        </div>

        <!-- donate button starts  -->
        <div class="donate-btn">

<a href="/donate">
            <button class="button">
                Donate Now
                <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                    <path clip-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                        fill-rule="evenodd"></path>
                </svg>
            </button>
        </a>
        </div>
        <!-- donate button ends  -->
        <div class="content content--highlight content--outro">
            <p class="text-large">In a world of hunger, we hold the key to change. Together, let's spread love,
                nourishing souls with each meal we share.
            </p>
        </div>
    </main>

    <!-- footer starts here  -->
    <section class="contact" id="contact-us">
        <div class="content">
            <h2>Contact Us</h2>
            <p>Caring starts with connecting. Reach out to us today. Let's work together to make a difference in the
                lives of those in need.</p>
        </div>
        <div class="container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon"><ion-icon name="location-outline"></ion-icon></div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>20340 KR Puram,<br>Bengaluru, Karnataka,<br>55025060</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><ion-icon name="call-outline"></ion-icon></div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>985-496-3578</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><ion-icon name="mail-outline"></ion-icon></div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>sharity@gmail.com</p>
                    </div>
                </div>
                <h2 class="txt">Connect with us</h2>
                <ul class="sci">
                    <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                </ul>
            </div>

            <div class="contactForm">
                <form>
                    <h2>Send Message</h2>
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span>Email</span>
                    </div>
                    <div class="inputBox">
                        <textarea required="required"></textarea>
                        <span>Type your Message...</span>
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>
